{
	"production": {
		"NODE_ENV": "production",
		"MONGODB_URL": "mongodb://127.0.0.1:27017/{DATABASE_NAME}",
		"SENDGRID_API_KEY": "{SENDGRID_API_KEY}",
		"EMAIL_FROM": "{Your name <email@email.com>}",
		"EMAIL_TO": "{Your name <email@email.com>}",
	}
}